In [1]:
import pandas as pd
import os
import glob

In [2]:
path = '../Resources/*.csv' # use your path
all_files = glob.glob(path)
all_files

['../Resources/batting_stats_2019.csv',
 '../Resources/batting_stats_2018.csv',
 '../Resources/batting_stats_2020.csv',
 '../Resources/batting_stats_2021.csv',
 '../Resources/batting_stats_2010.csv',
 '../Resources/batting_stats_2011.csv',
 '../Resources/batting_stats_2013.csv',
 '../Resources/batting_stats_2012.csv',
 '../Resources/batting_stats_2016.csv',
 '../Resources/batting_stats_2017.csv',
 '../Resources/batting_stats_2015.csv',
 '../Resources/batting_stats_2014.csv']

In [3]:
data = []

for file in all_files:
    df = pd.read_csv(file, index_col=None, header=0)    
    year = file[-8:-4]
    df['Year'] = year
    data.append(df)

In [4]:
stats_df = pd.concat(data, axis=0, ignore_index=True)

In [5]:
stats_df

,Player,Team,Pos,Age,G,AB,R,H,2B,3B,...,BB,SO,SH,SF,HBP,AVG,OBP,SLG,OPS,Year
0,Whit Merrifield,KC,2B,32,162,681,105,206,41,10,...,45,126,0,4,5,0.302,0.348,0.463,0.811,2019
1,Marcus Semien,OAK,SS,30,162,657,123,187,43,7,...,87,102,0,1,2,0.285,0.369,0.522,0.891,2019
2,Rafael Devers,BOS,3B,24,156,647,129,201,54,4,...,48,119,1,2,4,0.311,0.361,0.555,0.916,2019
3,Jonathan Villar,BAL,2B,30,162,642,111,176,33,5,...,61,176,2,4,4,0.274,0.339,0.453,0.792,2019
4,Ozzie Albies,ATL,2B,24,160,640,102,189,43,8,...,54,112,0,4,4,0.295,0.352,0.500,0.852,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8087,Tommy Pham,STL,OF,33,6,2,0,0,0,0,...,0,2,0,0,0,0.000,0.000,0.000,0.000,2014
8088,Corey Brown,BOS,OF,35,3,1,0,0,0,0,...,0,1,0,0,0,0.000,0.000,0.000,0.000,2014
8089,Bryan Anderson,OAK,C,34,1,1,0,0,0,0,...,0,0,0,0,0,0.000,0.000,0.000,0.000,2014
8090,Terrance Gore,KC,OF,30,11,1,5,0,0,0,...,0,0,0,0,1,0.000,0.500,0.000,0.500,2014
8091,Audry Perez,STL,C,32,1,0,0,0,0,0,...,1,0,0,0,0,0.000,1.000,0.000,1.000,2014

In [6]:
stats_df.columns

Index(['Player', 'Team', 'Pos', 'Age', 'G', 'AB', 'R', 'H', '2B', '3B', 'HR',
       'RBI', 'SB', 'CS', 'BB', 'SO', 'SH', 'SF', 'HBP', 'AVG', 'OBP', 'SLG',
       'OPS', 'Year'],
      dtype='object')

In [7]:
stats_df = stats_df[['Year', 'Player', 'Team', 'Pos', 'Age', 'G', 'AB', 'R', 'H', '2B', '3B', 'HR','RBI', 
             'SB', 'CS', 'BB', 'SO', 'SH', 'SF', 'HBP', 'AVG', 'OBP', 'SLG','OPS']]

In [8]:
stats_df

,Year,Player,Team,Pos,Age,G,AB,R,H,2B,...,CS,BB,SO,SH,SF,HBP,AVG,OBP,SLG,OPS
0,2019,Whit Merrifield,KC,2B,32,162,681,105,206,41,...,10,45,126,0,4,5,0.302,0.348,0.463,0.811
1,2019,Marcus Semien,OAK,SS,30,162,657,123,187,43,...,8,87,102,0,1,2,0.285,0.369,0.522,0.891
2,2019,Rafael Devers,BOS,3B,24,156,647,129,201,54,...,8,48,119,1,2,4,0.311,0.361,0.555,0.916
3,2019,Jonathan Villar,BAL,2B,30,162,642,111,176,33,...,9,61,176,2,4,4,0.274,0.339,0.453,0.792
4,2019,Ozzie Albies,ATL,2B,24,160,640,102,189,43,...,4,54,112,0,4,4,0.295,0.352,0.500,0.852
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8087,2014,Tommy Pham,STL,OF,33,6,2,0,0,0,...,0,0,2,0,0,0,0.000,0.000,0.000,0.000
8088,2014,Corey Brown,BOS,OF,35,3,1,0,0,0,...,0,0,1,0,0,0,0.000,0.000,0.000,0.000
8089,2014,Bryan Anderson,OAK,C,34,1,1,0,0,0,...,0,0,0,0,0,0,0.000,0.000,0.000,0.000
8090,2014,Terrance Gore,KC,OF,30,11,1,5,0,0,...,0,0,0,0,0,1,0.000,0.500,0.000,0.500
8091,2014,Audry Perez,STL,C,32,1,0,0,0,0,...,0,1,0,0,0,0,0.000,1.000,0.000,1.000

In [10]:
stats_df.to_csv('../Resources/stats_df.csv')